## Mohammad Rashid Mohammad Shoaib    ME592 HW#1   2/16/2023

### *Problem 2.3 Multivariate*

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_table('airfoil_self_noise.dat', delim_whitespace=True)

In [14]:
df.head()
print(df)

       800     0  0.3048  71.3  0.00266337  126.201
0     1000   0.0  0.3048  71.3    0.002663  125.201
1     1250   0.0  0.3048  71.3    0.002663  125.951
2     1600   0.0  0.3048  71.3    0.002663  127.591
3     2000   0.0  0.3048  71.3    0.002663  127.461
4     2500   0.0  0.3048  71.3    0.002663  125.571
...    ...   ...     ...   ...         ...      ...
1497  2500  15.6  0.1016  39.6    0.052849  110.264
1498  3150  15.6  0.1016  39.6    0.052849  109.254
1499  4000  15.6  0.1016  39.6    0.052849  106.604
1500  5000  15.6  0.1016  39.6    0.052849  106.224
1501  6300  15.6  0.1016  39.6    0.052849  104.204

[1502 rows x 6 columns]

In [15]:
df.describe()

,800,0,0.3048,71.3,0.00266337,126.201
count,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000
mean,2887.769640,6.786818,0.136436,50.847137,0.011146,124.835034
std,3153.162983,5.917509,0.093471,15.569029,0.013153,6.900864
min,200.000000,0.000000,0.025400,31.700000,0.000401,103.380000
25%,800.000000,2.000000,0.050800,39.600000,0.002535,120.190000
50%,1600.000000,5.400000,0.101600,39.600000,0.004957,125.719000
75%,4000.000000,9.900000,0.228600,71.300000,0.015840,129.997750
max,20000.000000,22.200000,0.304800,71.300000,0.058411,140.987000

In [16]:
# Mean
mean = df.mean()
print(mean)

800           2887.769640
0                6.786818
0.3048           0.136436
71.3            50.847137
0.00266337       0.011146
126.201        124.835034
dtype: float64

In [17]:
# variance (or standard deviation)
var = df.var()
print(var)

800           9.942437e+06
0             3.501691e+01
0.3048        8.736825e-03
71.3          2.423947e+02
0.00266337    1.729960e-04
126.201       4.762193e+01
dtype: float64

In [18]:
# median
median = df.median()
print(median)

800           1600.000000
0                5.400000
0.3048           0.101600
71.3            39.600000
0.00266337       0.004957
126.201        125.719000
dtype: float64

In [19]:
# kurtosis
kurt = df.kurtosis()
print(kurt)

800           5.704083
0            -0.413399
0.3048       -1.035595
71.3         -1.562758
0.00266337    2.215282
126.201      -0.316058
dtype: float64

In [20]:
# skewness
skew = df.skew()
print(skew)

800           2.136180
0             0.688553
0.3048        0.458497
71.3          0.237297
0.00266337    1.701196
126.201      -0.418439
dtype: float64

In [21]:
# range
rng = df.max() - df.min()
print(rng)

800           19800.000000
0                22.200000
0.3048            0.279400
71.3             39.600000
0.00266337        0.058011
126.201          37.607000
dtype: float64